@media (min-width: 300px) {
    #ascii-art pre {
        line-height: 0.4rem;
        font-size: 0.32rem;
    }
}

@media (min-width: 380px) {
    #ascii-art pre {
        line-height: 0.4rem;
        font-size: 0.36rem;
    }
}

@media (min-width: 420px) {
    #ascii-art pre {
        line-height: 0.4rem;
        font-size: 0.5rem;
    }
}

@media (min-width: 600px) {
    #ascii-art pre {
        line-height: 0.5rem;
        font-size: 0.6rem;
    }
}

@media (min-width: 700px) {
    #ascii-art pre {
        line-height: 0.5rem;
        font-size: 0.7rem;
    }
}

@media (min-width: 800px) {
    #ascii-art pre {
        line-height: 0.6rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 900px) {
    #ascii-art pre {
        line-height: 0.6rem;
        font-size: 0.8rem;;
    }
}

@media (min-width: 1280px) {
    #ascii-art pre {
        line-height: 0.7rem;
        font-size: 0.9rem;
    }
}